<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Upload and display image</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/main.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <p>
    <h1 align="center">Passport Face Recognizer</h1>
    </p>
    <div class="container">
        <div class="row">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </p>

            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <div class="d-flex flex-row col-12">
                    <div class="col-lg-1">
                        <input type="submit" value="Predict" name="btn" class="btn btn-info">
                    </div>
                    <div class="col-lg-9">
                        <p style="margin-top: 8px;"><b>{{res}}</b></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>